/* 京东中心栏目 */
.w{
	width: 1190px;
	margin: 0 auto;
}
i{
	border:solid 1px #FF0000;
}
/* 顶部栏 */
.shortcut{
	background-color: #e3e4e5;
}
.shortcut .w{
	height: 30px;
	font-size: 12px; 
}
.shortcut .w>.address{ 
	display: inline-block;
	height: 30px;
	width: 58px; 
	line-height: 30px;
	color: #999;
}
.shortcut .w>.address>i{
	font-size: 14px; 
	color: #F10215;
	margin-right: 4px;
} 
.shortcut .w ul{
	display: block;
	/* width: 718.112px; */
	height: 30px; 
	float: right;
}
.shortcut>.w>.fr .dt>.fta-1{
	margin-right: 5px;
}
.shortcut>.w>.fr .dt .fta-2{
	color: #F10215;
}
.shortcut .w ul li{
	float: left;
	height: 30px;
	width: auto;
	line-height: 30px;
}
.shortcut .w ul li>.dt{
	padding: 0 7px;
}
.shortcut .w ul li>.dt>a{
	display: inline-block;
	height: 30px; 
	color: #999; 	
}
.shortcut .w ul .firstli>.dt>a:hover{
	color: #F10215;
}
.shortcut .w ul .spacer{
	overflow: hidden;
	width: 1px; 
	height: 10px; 
	margin: 11px 5px;
	background-color: #ccc;
}
.shortcut .w ul .sc:hover{
	background-color: #fff;
}
/* 顶部栏结束 */
/* 搜索栏开始 */
.header{
	background:#fff;
	border-bottom: 1px solid #ddd
}
.header .w{
	height: 140px; 
	position: relative;
}
/* logo */
.header .w .logo{
	position: absolute;
	top: 10px;
	left: 0;
	width: 190px; 
	height:  120px; 
}
.header .w .logo a{
	display: inline-block;
	width: 190px;
	height: 120px;
	vertical-align: middle;
}
.header .w .logo a img{
	padding:15px 0 ;
	width: 190px;
	height: 90px;
}
/* 搜索栏 */
.header .w .search{
	height: 60px; 
	width: 1160px;
	position: relative;
	z-index: 1;
}
.header .w .search .search-content{
	height: 32px;
	width: 546px; 
	position: absolute;
	left: 260px; 
	top: 25px;
	border: 1px solid #000000;
}
.header .w .search .sc{
	    width: 425px;
	    height: 26px;
		border: 1px solid transparent;
}
.header .w .search .ss{
	float: right;
	display: inline-block;
	width: 32px; 
	height: 32px;
}

